@font-face {
  font-family: "GreatVibes";
  src: url("https://carlosrdzcas.github.io/MyWedding/assets/fonts/great-vibes/GreatVibes-Regular.ttf");
}
@font-face {
  font-family: "Monteserrat";
  src: url("https://carlosrdzcas.github.io/MyWedding/assets/fonts/montserrat/Montserrat-Regular.ttf");
}
.body {
  font-family: "Monteserrat";
}

.title {
  font-family: "GreatVibes";
}


.bg {
  background-image: url("https://carlosrdzcas.github.io/MyWedding/assets/photos/bgpapiro.jpg");
  background-size: cover;
}
