<div class=" col text-justify text-center p-4">
	<div>
		<p class=" title display-4 font-weight-bold">Te invitamos a nuestra boda</p>
	</div>
	<div>
		<p>Faltan</p>
	</div>
	<div class=" m-2 d-inline-flex">
		<div class=" m-2 text-center">
			{{ days }}
			<div>Dias</div>
		</div>

		<div class="m-2 text-center">
			{{ hour }}
			<div>Horas</div>
		</div>

		<div class="m-2 text-center">
			{{ minute }}
			<div>Minutos</div>
		</div>

		<div class="m-2 text-center">
			{{ second }}
			<div>Segundos</div>
		</div>
	</div>
</div>
