<div class="col showup text-justify text-center p-4">
  <div>
    <p class="title fw-bolder display-3  font-weight-bold txtcolor">Te invitamos a nuestra boda</p>
  </div>
  <br>
  <div>
    <p class="body display-6 fs-2">Faltan</p>
  </div>
  <div class="container"> <div class="row ">
    <div class="countdown justify-content-around d-flex row-">
      <div class="time-section " id="days">
        <div class="time-group">
          <div class="time-segment">
            <div class="segment-display">
              <div class="segment-display__top"></div>
              <div class="segment-display__bottom"></div>
              <div class="segment-overlay">
                <div class="segment-overlay__top"></div>
                <div class="segment-overlay__bottom"></div>
              </div>
            </div>
          </div>
          <div class="time-segment">
            <div class="segment-display">
              <div class="segment-display__top"></div>
              <div class="segment-display__bottom"></div>
              <div class="segment-overlay">
                <div class="segment-overlay__top"></div>
                <div class="segment-overlay__bottom"></div>
              </div>
            </div>
          </div>
        </div>
        <p class="body">Dias</p>
      </div>

      <div class="time-section" id="hours">
        <div class="time-group">
          <div class="time-segment">
            <div class="segment-display">
              <div class="segment-display__top"></div>
              <div class="segment-display__bottom"></div>
              <div class="segment-overlay">
                <div class="segment-overlay__top"></div>
                <div class="segment-overlay__bottom"></div>
              </div>
            </div>
          </div>
          <div class="time-segment">
            <div class="segment-display">
              <div class="segment-display__top"></div>
              <div class="segment-display__bottom"></div>
              <div class="segment-overlay">
                <div class="segment-overlay__top"></div>
                <div class="segment-overlay__bottom"></div>
              </div>
            </div>
          </div>
        </div>
        <p class="body">Horas</p>
      </div>

      <div class="time-section " id="minutes">
        <div class="time-group">
          <div class="time-segment">
            <div class="segment-display">
              <div class="segment-display__top"></div>
              <div class="segment-display__bottom"></div>
              <div class="segment-overlay">
                <div class="segment-overlay__top"></div>
                <div class="segment-overlay__bottom"></div>
              </div>
            </div>
          </div>
          <div class="time-segment">
            <div class="segment-display">
              <div class="segment-display__top"></div>
              <div class="segment-display__bottom"></div>
              <div class="segment-overlay">
                <div class="segment-overlay__top"></div>
                <div class="segment-overlay__bottom"></div>
              </div>
            </div>
          </div>
        </div>
        <p class="body">Minutos</p>
      </div>

      <div class="time-section  " id="seconds">
        <div class="time-group">
          <div class="time-segment">
            <div class="segment-display">
              <div class="segment-display__top"></div>
              <div class="segment-display__bottom"></div>
              <div class="segment-overlay">
                <div class="segment-overlay__top"></div>
                <div class="segment-overlay__bottom"></div>
              </div>
            </div>
          </div>
          <div class="time-segment">
            <div class="segment-display">
              <div class="segment-display__top"></div>
              <div class="segment-display__bottom"></div>
              <div class="segment-overlay">
                <div class="segment-overlay__top"></div>
                <div class="segment-overlay__bottom"></div>
              </div>
            </div>
          </div>
        </div>
        <p class="body">Segundos</p>
      </div>
    </div>
  </div></div>

</div>
