.icon {
	height: 85px;
	width: 85px;
}
.bg-color {
  width: 100vw;

  position: relative;
}

.bg-color::before {
  content: "";

  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background: rgba(113, 143, 62, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}


.imgsize{
  height: 80px;
  width: 120px;
  border-radius:20px;
}

.circleRed {
	width: 50px;
	height: 50px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	border-style: ridge;
	border-width: 1px;
	border-color: rgb(80, 80, 80);
	background: red;
}

.circleWhite {
	width: 50px;
	height: 50px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	border-style: ridge;
	border-width: 1px;
	border-color: rgb(80, 80, 80);
	background: rgb(255, 255, 255);
}

.circleNude {
	width: 50px;
	height: 50px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	border-style: ridge;
	border-width: 1px;
	border-color: rgb(80, 80, 80);
	background: #ebc8b2;
}

.circleTag {
	justify-content: center;
}

@font-face {
  font-family: 'GreatVibes';
  src: url('https://carlosrdzcas.github.io/MyWedding/assets/fonts/great-vibes/GreatVibes-Regular.ttf');
}

.title{
  font-family: 'GreatVibes';
}
.body {
  font-family: 'Times New Roman', Times, serif;
}
.txtcolor{
  color: #CDB77C;
}

@keyframes show{
  from{
    opacity: 0;
    scale: 25%;
  }
  to{
    opacity: 1;
    scale: 100%;
  }
  }

  .showup{
    view-timeline-name: --div;
    view-timeline-axis: block;
    animation-timeline: --div;
    animation-name: show;
    animation-range: entry 20% cover 50%;
    animation-fill-mode: both;
  }


  @media (max-width: 767px)  {
    .imgsize{
      height: 60px;
      width: 100px;
      margin-top: 20px;
      border-radius:20px;
    }
  }
