<div class="col p-4 text-justify text-center">
  <p class="display-4 title">Codigo de Vestimenta</p>
  <img src="assets/photos/dresscode.png" alt="" class="icon" />
  <h4 class="display-5 body pt-4">Formal</h4>
  <p class="display-6 body">Evitar usar los siguientes colores</p>
  <div class="row justify-content-around">
    <div class="col "><img class="imgsize" src="assets/photos/red.png" alt="" /></div>
    <div class="col "><img class="imgsize" src="assets/photos/white.png" alt="" /></div>
    <div class="col "><img class="imgsize" src="assets/photos/nude.png" alt="" /></div>
  </div>
</div>
