<div class="bg-color col p-4 text-justify text-center">
  <p class="display-3 title fw-bolder txtcolor">Codigo de Vestimenta</p>
  <img src="assets/photos/dresscode.png" alt="" class="icon" />
  <h4 class="display-5 body pt-4 fs-2">Formal</h4>
  <p class="display-6 body fs-3">Evitar usar los siguientes colores</p>
  <div class="row justify-content-center">
    <div class="col-sm-2"><img class="imgsize" src="assets/photos/red2.png" alt="" /></div>
    <div class="col-sm-2"><img class="imgsize" src="assets/photos/white2.png" alt="" /></div>

  </div>
</div>
