<div class="bg-color showup col p-4 text-justify text-center">
  <p class="display-3 title fw-bolder txtcolor">Codigo de Vestimenta</p>
  <h4 class="display-5 body pt-2 fs-2 fw-bolder">Formal</h4>
  <div class="container">
    <div class="row justify-content-evenly">
      <div class="col">
        <img class="imgsize" src="assets/photos/suite.png" alt="" />
        <p class="mt-4 body fs-3">Hombres</p>
        <p class="mt-4 body fs-5">Traje</p>
      </div>
      <div class="col">
        <img class="imgsize" src="assets/photos/dress.png" alt="" />
        <p class="mt-4 body fs-3">Mujeres</p>
        <p class="mt-4 body fs-5">Vestido largo</p>
      </div>
    </div>
  </div>
</div>
