.icon {
  height: 85px;
  width: 85px;
}




.footprints {
  height: 30px;
  transform: rotate(90deg);
}

@font-face {
  font-family: 'GreatVibes';
  src: url('https://carlosrdzcas.github.io/MyWedding/assets/fonts/great-vibes/GreatVibes-Regular.ttf');
}

.title{
  font-family: 'GreatVibes';
}
@font-face {
  font-family: "Monteserrat";
  src: url("https://carlosrdzcas.github.io/MyWedding/assets/fonts/montserrat/Montserrat-Regular.ttf");
}
.body {
  font-family: "Monteserrat";
}


button{
position: relative;
}
