<div class="container">
  <div class="row">
    <div class="col-sm-6 text-justify text-center">
      <div class="col">
        <p class="title fw-bolder display-4">Ceremonia Religiosa</p>
        <img
          src="https://cdn-icons-png.flaticon.com/512/89/89016.png"
          alt=""
          class="icon"
        />
      </div >
      <div class="body row mt-5 justify-content-evenly">
        <div class="col">
          <p>25 Mayo</p>
        </div>

        <div class="col mb-1">
          <img
            class="footprints"
            src="https://carlosrdzcas.github.io/MyWedding/assets/photos/footprints.png"
            alt=""
          />
        </div>
        <div class="body col">
          <p>05:00 PM</p>
        </div>
      </div>
      <div class="body mt-5">
        <p>Iglesia Santa Elena</p>
      </div>
      <div>
        <button class="body btn btn-success" (click)="openDialogIglesia()">
        Ver Ubicacion
        </button>
      </div>
    </div>

    <div class="col-sm-6  text-justify text-center">
      <div class="col">
        <p class="title fw-bolder display-4">Recepcion</p>
        <img
          src="https://cdn-icons-png.flaticon.com/512/7182/7182837.png"
          alt=""
          class="icon"
        />
      </div>
      <div class=" body row mt-5 justify-content-evenly">
        <div class="col">
          <br />
          <p>25 Mayo</p>
        </div>
        <div class="col">
          <img
            class="footprints"
            src="https://carlosrdzcas.github.io/MyWedding/assets/photos/footprints.png"
            alt=""
          />
        </div>
        <div class="col">
          <p>07:00 PM</p>
          <p>12:30 AM</p>
        </div>
      </div>
      <div class="body mt-3">
        <p>ARA Salon Terraza Alberca</p>
      </div>
      <div>
        <button class="body btn btn-success" (click)="openDialogSalon()">
          Ver Ubicacion
        </button>
      </div>
    </div>
  </div>

</div>
