<div class="col bg-color p-4 text-justify text-center">
	<div class="col">
		<p class="display-4">Ceremonia Religiosa</p>
		<img src="https://cdn-icons-png.flaticon.com/512/89/89016.png" alt="" class="icon" />
	</div>
	<div class="row mt-5 justify-content-evenly">
		<div class="col">
			<p>25 Mayo</p>
		</div>
		<div class="divider col"></div>
		<div class="col">
			<p>05:00 PM</p>
		</div>
	</div>
	<div class="mt-3">
		<p>Iglesia Santa Elena</p>
	</div>
	<div>
		<button class="btn btn-sm btn-success">Ver ubicacion</button>
	</div>
</div>

<div class="col p-4 text-justify text-center">
	<div class="col">
		<p class="display-4">Recepcion</p>
		<img src="https://cdn-icons-png.flaticon.com/512/7182/7182837.png" alt="" class="icon" />
	</div>
	<div class="row mt-5 justify-content-evenly">
		<div class="col">
			<p>25 Mayo</p>
		</div>
		<div class="divider col"></div>
		<div class="col">
			<p>07:30 PM</p>
		</div>
	</div>
	<div class="mt-3">
		<p>ARA Salon Terraza Alberca</p>
	</div>
	<div>
		<button class="btn btn-sm btn-success">Ver ubicacion</button>
	</div>
</div>
