<div class="container-fluid mb-5 mt-4">

  <div class="row  ">
    <div class=" col-sm-6 p-0 slidein text-justify text-center">
      <div class="col">
        <p class="title fw-bolder display-3 txtcolor">Ceremonia Religiosa</p>
        <img src="assets/photos/iglesia.png" alt="" class="icon" />
      </div>
      <div class="container">
        <div class="body row mt-5">
          <div class="col-4 p-0">
            <p class="fs-5">25 Mayo</p>
          </div>

          <div class="col-4 p-0 mb-1">
            <img
              class="footprints"
              src="https://carlosrdzcas.github.io/MyWedding/assets/photos/footprints.png"
              alt=""
            />
          </div>
          <div class="body col-4 p-0">
            <p class="fs-5">05:00 PM</p>
          </div>
        </div>
      </div>

      <br />

      <div class="body row mt-5">
        <p class="fw-bolder fs-5">Iglesia Santa Elena</p>
      </div>

      <div>
        <button
          class="mb-4 body btn fw-bolder btncolor"
          (click)="openDialogIglesia()"
        >
          Ver Ubicacion
        </button>
      </div>
    </div>

    <div class=" col-sm-6 slidein p-0 text-justify text-center">
      <div class="col">
        <p class="title fw-bolder display-3 txtcolor">Recepcion</p>
        <img src="assets/photos/copas.png" alt="" class="icon" />
      </div>
      <div class="container">
        <div class="body row mt-5 m-0 p-0">
          <div class="col-4 p-0">
            <br />
            <p class="fs-5">25 Mayo</p>
          </div>
          <div class="col-4 p-0">
            <img
              class="footprints"
              src="https://carlosrdzcas.github.io/MyWedding/assets/photos/footprints.png"
              alt=""
            />
          </div>
          <div class="col-4 p-0">
            <p class="fs-5">08:00 PM</p>
            <p class="fs-5">01:00 AM</p>
          </div>
        </div>
      </div>

      <div class="body mt-3">
        <p class="fw-bolder fs-5">ARA Salon Terraza Alberca</p>
      </div>
      <div>
        <button class="fw-bolder btncolor body btn" (click)="openDialogSalon()">
          Ver Ubicacion
        </button>
      </div>
    </div>
  </div>
</div>
