.icon {
  height: 85px;
  width: 85px;
}
.txtcolor{
  color: #CDB77C;
}


.fs{
  font-size: 15px;
}
.btncolor {
  background: rgba(113, 143, 62);
  /* background: #CDB77C; */
}
.footprints {
  height: 30px;
  transform: rotate(90deg);
}

@font-face {
  font-family: 'GreatVibes';
  src: url('https://carlosrdzcas.github.io/MyWedding/assets/fonts/great-vibes/GreatVibes-Regular.ttf');
}

.title{
  font-family: 'GreatVibes';
}
.body {
  font-family: 'Times New Roman', Times, serif;

}


button{
position: relative;
}


@keyframes slidein {
  from{
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0%);
  }


}

.slidein {
  animation: slidein linear both;
  animation-timeline: view();
  animation-range: 10% cover 40%;
}
