<div class="col p-4 text-justify text-center">
	<h4 class="display-3 title fw-bolder">Regalos</h4>
	<img src="assets/photos/giftbox.png" alt="" class="icon" />

	<p class="fs-2 fw-semibold body pt-5 ">El mejor regalo es su presencia en este dia tan especial, pero si gustan dejar un obsequio aqui les dejamos los datos</p>
	<div class="row mt-5 justify-content-evenly">
		<div class="col body">
			<h1 class="display-3 title fw-bolder">Lluvia de sobres</h1>
			<span class="fs-5 fw-semibold">En la recepcion podran dejar su sobre</span>
		</div>
		<div class="body col">
			<h1 class="display-3 title fw-bolder">Transferencia</h1>
			<p  class="fs-5 fw-semibold">Banco: Banorte</p>
			<p class="fs-5 fw-semibold">Clabe: 0000000000000000000</p>
			<p class="fs-5 fw-semibold">Nombre: Carlos Daniel Rodriguez Castro</p>
		</div>
	</div>
</div>
