<div class="col p-4 text-justify text-center">
	<h4 class="display-4">Regalos</h4>
	<img src="../../../../assets/photos/giftbox.png" alt="" class="icon" />
	<p class="display-6">El mejor regalo es su precencia en este dia tan especial, pero si gustan dejar un obsequio aqui les dejamos los datos</p>
	<div class="row mt-5 justify-content-evenly">
		<div class="col">
			<h3>Lluvia de sobres</h3>
			<span>En la recepcion podran dejar su sobre</span>
		</div>
		<div class="col">
			<h3>Transferencia</h3>
			<p>Banco: Banorte</p>
			<p>Clabe: 0000000000000000000</p>
			<p>Nombre: Carlos Daniel Rodriguez Castro</p>
		</div>
	</div>
</div>
