<div class="col p-4 text-justify text-center">
	<h4 class="display-3 title fw-bolder txtcolor">Regalos</h4>
	<img src="assets/photos/gift.png" alt="" class="icon" />

	<p class="fs-3 fw-semibold body pt-5 ">El mejor regalo es su presencia en este dia tan especial, pero si gustan dejar un obsequio aqui les dejamos los datos</p>
	<div class="row mt-5 justify-content-evenly">
		<div class="col body">
			<h1 class="display-3 title fw-bolder txtcolor">Lluvia de sobres</h1>
			<span class="fs-5">En la recepcion podran dejar su sobre</span>
		</div>
		<div class="body col">
			<h1 class="display-3 title fw-bolder txtcolor">Transferencia</h1>
			<p  class="fs-5 ">Banco: Banorte</p>
			<p class="fs-5 ">Clabe: 0000000000000000000</p>
			<p class="fs-5 ">Nombre: Carlos Daniel Rodriguez Castro</p>
		</div>
	</div>
</div>
