<div class="center justify-content-around">
  <div
    class="center fadeout animate__animated animate__fadeIn animate__delay-1s"
  >
    <img
      src="assets/photos/us4.png"
      alt="Novio"
      class="card-img image-photo animate__animated animate__fadeIn"
    />
  </div>

  <div
    class="card-img-overlay d-flex justify-content-center animate__animated animate__slideInDown"
  >
    <div class="text-light fw-bolder txtcolor p-2 display-1">
      <p class="mt-4 text-center txtcolor">Nuestra Boda</p>
      <p class="mt-4 text-center txtcolor">Carlos & Carolina</p>
      <p></p>
    </div>
  </div>
</div>
