<div class="center justify-content-around ">
  <div class="center ">
    <img
      src="assets/photos/us4.png"
      alt="Novio"
      class="card-img  image-photo  animate__animated animate__fadeIn animate__delay-1s"
    />
  </div>

  <div
    class="card-img-overlay d-flex justify-content-center animate__animated animate__slideInDown animate__delay-1s"
  >
    <div class="text-light p-2">
      <p class="text-center">Nuestra Boda</p>
      <p class="text-center">Carlos & Carolina</p>
      <p></p>
    </div>
  </div>
</div>
