.image-photo {
	height: 70vh;
	background-repeat: no-repeat;
}

.glass {
	backdrop-filter: blur(3px);
	border-radius: 30px;

	width: fit-content;
	background-color: rgba(0, 0, 0, 0.2);
}

/* @font-face {
  font-family: 'WeddingBells';
  src: url('/assets/fonts/wedding-bells/wedding-bells.ttf');
} */

@font-face {
  font-family: 'GreatVibes';
  src: url('/assets/fonts/great-vibes/GreatVibes-Regular.ttf');
}

*{
  font-family: 'GreatVibes';
}
