.image-photo {
  width: 100vw;
  background-repeat: no-repeat;
}

.textsize {
  height: 100px;
  width: 100px;
}

.glass {
  backdrop-filter: blur(3px);
  border-radius: 30px;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.2);
}

/* @font-face {
  font-family: 'WeddingBells';
  src: url('/../assets/fonts/wedding-bells/wedding-bells.ttf');
} */

@font-face {
  font-family: "GreatVibes";
  src: url("https://carlosrdzcas.github.io/MyWedding/assets/fonts/great-vibes/GreatVibes-Regular.ttf");
}
* {
  font-family: "GreatVibes";
}

@media screen and (max-width: 767px) {
  .image-photo {
    height: 100vh;
    background-repeat: no-repeat;
  }
}

.txtcolor {    background: linear-gradient(to bottom, #cfc09f 27%, #ffecb3 40%, #3a2c0f 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fade-out {
  20% {
    opacity: 1;
  }

  85%,
  100% {
    opacity: 0;
  }
}

.fadeout {
  animation: fade-out linear forwards;
  animation-timeline: view();
  animation-range: exit;
}
