<div
  class="container justify-content-center d-flex align-items-center align-content-between altura"
>
  <div class="row">
    <div class="col-xs-6 col-md-6">
      <p
        class="animate__animated animate__fadeInLeft animate__slow display-3 text-center"
      >
        Estas cordialmente invitado a nuestra boda
      </p>
      <br />
      <p
        class="animate__animated animate__fadeInLeft animate__slow animate__delay-1s display-5 text-center"
      >
        Carlos
      </p>
      <p
        class="animate__animated animate__fadeInLeft animate__slow animate__delay-1s display-5 text-center"
      >
        &
      </p>
      <p
        class="animate__animated animate__fadeInLeft animate__slow animate__delay-1s display-5 text-center"
      >
        Carolina
      </p>
    </div>
    <div class="col-xs-6 col-md-6 animate__animated animate__fadeInRight animate__delay-1s justify-content-center d-flex"
    >
      <img
        (click)="navigate()"
        class="animate__animated animate__bounce animate__delay-2s"
        src="assets/photos/envelope.png"
        alt=""
      />
    </div>
  </div>
</div>
