.bgimg {
 background-image: url('https://carlosrdzcas.github.io/MyWedding/assets/photos/portada.jpg');
  background-size: cover;
}

@media (max-width: 728px) {
  img {
    margin-top: 20px;
    width: 75%;
    height: 220px;
  }
}

@font-face {
  font-family: "HarryPotter";
  src: url("https://carlosrdzcas.github.io/MyWedding/assets/fonts/harry-potter/Harry-Potter.ttf");
}


