<div class="p-2 heroscroll bg-color mt-3 text-center">
  <p class=" title fw-bolder display-3 txtcolor">Nosotros</p>
  <div>
    <img
      src="assets/photos/novios2.jpeg"
      alt=""
      class="rounded-circle img-size"
    />
  </div>
  <div class="body mt-3">
    <p class="fs-5  text-justify">
      Esta es una historia de amor.
    </p>
    <p class="fs-5 text-justify">
       Una historia de amor, de cómo dos personas
      se encontraron, de cómo se enamoraron y llegaron a compartir una vida
      juntos. Sabíamos que sucedería, pero no sabíamos cuándo, cómo o por qué,
      así que dejamos que sucediera cuando sucediera, sin expectativas ni
      suposiciones.
    </p>
    <p class="fs-5" >
      Solo podemos decir que nuestra vida en este momento está completa y
      estamos listos para compartir el resto de nuestras vidas juntos.
    </p>
  </div>
</div>
