.img-size {
	height: 180px;
	width: 180px;
}
.bg-color {
	background-color: rgb(135, 156, 99);
}

@font-face {
  font-family: 'LatinRoman';
  src: url('https://carlosrdzcas.github.io/MyWedding/assets/fonts/latin-modern-roman/lmroman10-regular.otf');
}
*{
  font-family: 'LatinRoman';
}
