.img-size {
  height: 180px;
  width: 180px;
}
.bg-color {
  max-width: 100vw;

  position: relative;
}

.bg-color::before {
  content: "";

  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background: rgba(113, 143, 62, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
@font-face {
  font-family: "GreatVibes";
  src: url("https://carlosrdzcas.github.io/MyWedding/assets/fonts/great-vibes/GreatVibes-Regular.ttf");
}

.title {
  font-family: "GreatVibes";
}
@font-face {
  font-family: "Monteserrat";
  src: url("https://carlosrdzcas.github.io/MyWedding/assets/fonts/montserrat/Montserrat-Regular.ttf");
}
.body {
  font-family: "Monteserrat";
}
