<div class="p-2 bg-color mt-3 text-center">
  <p class="display-3">Nosotros</p>
  <div>
    <img
      src="assets/photos/novios2.jpeg"
      alt=""
      class="rounded-circle img-size"
    />
  </div>
  <div class="mt-3">
    <p class="text-justify">
      Esta es una historia de amor. Una historia de amor, de cómo dos personas
      se encontraron, de cómo se enamoraron y llegaron a compartir una vida
      juntos. Sabíamos que sucedería, pero no sabíamos cuándo, cómo o por qué,
      así que dejamos que sucediera cuando sucediera, sin expectativas ni
      suposiciones.
    </p>
    <p>
      Solo podemos decir que nuestra vida en este momento está completa y
      estamos listos para compartir el resto de nuestras vidas juntos.
    </p>
  </div>
</div>
