* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-color {
  width: 100vw;

  position: relative;
}

.bg-color::before {
  content: "";

  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background: rgba(113, 143, 62, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}


/* .esquina {
  position: absolute;
  left: 0;
  margin-left: 30px;
  height: 200px;
  transform: rotate(90deg);
}

.esquina2 {
  position: absolute;
  right: 0;
   margin-right: 40px;
   margin-top: 30px;
  height: 200px;
  transform: rotate(180deg);
} */
.txtcolor{
  color: #CDB77C;
}
.quidditchdiv {
  display: flex;
  justify-content: center;
}
.quidditch {
  height: 100px;
}

.timeline-section {
  min-height: 100vh;
  padding: 20px 15px;
}
.timeline-items {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before {
  content: "";
  position: absolute;

  height: 100%;
  background-color: #2f363e;
  left: calc(50% - 1px);
}
.timeline-item {
  background: url("https://carlosrdzcas.github.io/MyWedding/assets/photos/footprints90.png")
    no-repeat;
  background-position: center;
  background-size: 55px;
  margin-bottom: 15px;
  width: 100%;
  position: relative;
}
.timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}
.timeline-dot {
  height: 16px;
  width: 16px;

  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}
.timeline-date {
  font-size: 18px;
  color: #CDB77C;
  font-weight: bolder;
  margin: 6px 0 15px;
}
.timeline-content {
  padding: 5px;
  border-radius: 5px;
}
.timeline-content h3 {
  font-size: 20px;
  color: black;
  margin: 0 0 10px;
  text-transform: capitalize;
  font-weight: 500;
}
.timeline-content img {
  height: 70px;
}

/* responsive */
@media (max-width: 767px) {
  .esquina {
    position: absolute;
    left: 0;
    height: 100px;
    transform: rotate(90deg);
  }

  .esquina2 {
    position: absolute;
    right: 0;

     margin-top: 10px;
    height: 100px;
    transform: rotate(180deg);
  }


  .timeline-item {
    background: url("https://carlosrdzcas.github.io/MyWedding/assets/photos/footprints90.png")
      no-repeat;
    background-position: left;
    background-size: 55px;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
  }

  .quidditchdiv {
    display: flex;
    justify-content: center;
    left: 0;
  }
  .timeline-items::before {
    left: 7px;
  }
  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 50px;
  }
  .timeline-dot {
    left: 0;
  }
}
@font-face {
  font-family: "GreatVibes";
  src: url("https://carlosrdzcas.github.io/MyWedding/assets/fonts/great-vibes/GreatVibes-Regular.ttf");
}

.title {
  font-family: "GreatVibes";
}
.body {
  font-family: 'Times New Roman', Times, serif;
}
