<section class="timeline-section">
  <div class="timeline-items">
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">5:00 PM</div>
      <div class="timeline-content">
        <h3>Ceremonia Religiosa</h3>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">7:00 PM</div>
      <div class="timeline-content">
        <h3>Apertura de Recepcion</h3>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">7:50 PM</div>
      <div class="timeline-content">
        <h3>Entrada de los Novios</h3>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">8:00 PM</div>
      <div class="timeline-content">
        <h3>Vals de los novios</h3>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">8:20 PM</div>
      <div class="timeline-content">
        <h3>Fotografias con los novios</h3>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">8:40 PM</div>
      <div class="timeline-content">
        <h3>Cena</h3>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">9:20 PM</div>
      <div class="timeline-content">
        <h3>Apertura de pista</h3>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">10:00 PM</div>
      <div class="timeline-content">
        <h3>Pastel</h3>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">12:30 AM</div>
      <div class="timeline-content">
        <h3>Cierre de Recepcion</h3>
      </div>
    </div>
  </div>
</section>
