<section class="timeline-section">
  <div class="quidditchdiv">
  <img class="quidditch" src="assets/photos/quidditch.png" alt="">
  </div>
  <div class="timeline-items">
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="body timeline-date">5:00 PM</div>
      <div class="timeline-content">
        <h1 class="title"  >Ceremonia Religiosa</h1>
        <img src="assets/photos/iglesia.png" alt="">
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="body timeline-date">7:00 PM</div>
      <div class="timeline-content">
        <h1 class="title">Apertura de Recepcion</h1>
        <img src="assets/photos/copas.png" alt="">
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="body timeline-date">7:50 PM</div>
      <div class="timeline-content">
        <h1 class="title">Entrada de los Novios</h1>
        <img src="assets/photos/pareja.png" alt="">
      </div>
    </div>
    <!-- <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">8:00 PM</div>
      <div class="timeline-content">
        <h3>Vals de los novios</h3>
        <img src="assets/photos/vals.png" alt="">
      </div>
    </div> -->
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="body timeline-date">8:20 PM</div>
      <div class="timeline-content">
        <h1 class="title">Fotografias con los novios</h1>
        <img src="assets/photos/camara.png" alt="">
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="body timeline-date">8:40 PM</div>
      <div class="timeline-content">
        <h1 class="title">Cena</h1>
        <img src="assets/photos/cena.png" alt="">
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="body timeline-date">9:20 PM</div>
      <div class="timeline-content">
        <h1 class="title">Apertura de pista</h1>
        <img src="assets/photos/copas.png" alt="">
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="body timeline-date">10:00 PM</div>
      <div class="timeline-content">
        <h1 class="title">Pastel</h1>
        <img src="assets/photos/pastel.png" alt="">
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="body timeline-date">12:30 AM</div>
      <div class="timeline-content">
        <h1 class="title">Cierre de Recepcion</h1>
        <img src="assets/photos/carro.png" alt="">
      </div>
    </div>
  </div>
</section>
