<section class=" bg-color timeline-section">
  <div >
    <!-- <img class="esquina" src="assets/photos/esquina2.png" alt="" />
    <img class="esquina2" src="assets/photos/esquina2.png" alt="" /> -->
    <div class="quidditchdiv">
      <img class="quidditch " src="assets/photos/quidditch.png" alt="" />
    </div>
    <div class="timeline-items">
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="body timeline-date">5:00 PM</div>
        <div class="timeline-content">
          <h1 class="title fw-bolder">Ceremonia Religiosa</h1>
          <img src="assets/photos/iglesia.png" alt="" />
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-date">7:30 PM</div>
        <div class="timeline-content">
          <h1 class="title fw-bolder">Apertura de Recepcion</h1>
          <img src="assets/photos/copas.png" alt="" />
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-date">8:10 PM</div>
        <div class="timeline-content">
          <h1 class="title fw-bolder">Entrada de los Novios</h1>
          <img src="assets/photos/pareja.png" alt="" />
        </div>
      </div>
      <!-- <div class="timeline-item">
      <div class="timeline-dot"></div>
      <div class="timeline-date">8:00 PM</div>
      <div class="timeline-content">
        <h3>Vals de los novios</h3>
        <img src="assets/photos/vals.png" alt="">
      </div>
    </div> -->
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-date">8:30 PM</div>
        <div class="timeline-content">
          <h1 class="title fw-bolder">Fotografias con los novios</h1>
          <img src="assets/photos/camara.png" alt="" />
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-date">8:50 PM</div>
        <div class="timeline-content">
          <h1 class="title fw-bolder">Cena</h1>
          <img src="assets/photos/cena.png" alt="" />
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-date">9:40 PM</div>
        <div class="timeline-content">
          <h1 class="title fw-bolder">Apertura de pista</h1>
          <img src="assets/photos/copas.png" alt="" />
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-date">11:30 PM</div>
        <div class="timeline-content">
          <h1 class="title fw-bolder">Pastel</h1>
          <img src="assets/photos/pastel.png" alt="" />
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-dot"></div>
        <div class="timeline-date">01:00 AM</div>
        <div class="timeline-content">
          <h1 class="title fw-bolder">Cierre de Recepcion</h1>
          <img src="assets/photos/carro.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
