.icon {
	height: 85px;
	width: 85px;
}



@font-face {
  font-family: 'GreatVibes';
  src: url('https://carlosrdzcas.github.io/MyWedding/assets/fonts/great-vibes/GreatVibes-Regular.ttf');
}

.title{
  font-family: 'GreatVibes';
}
.body {
  font-family: 'Times New Roman', Times, serif;
}
.txtcolor{
  color: #CDB77C;
}
.btncolor {
  /* background: rgba(113, 143, 62); */
  background: #CDB77C;;
}
