.icon {
	height: 85px;
	width: 85px;
}



@font-face {
  font-family: 'GreatVibes';
  src: url('https://carlosrdzcas.github.io/MyWedding/assets/fonts/great-vibes/GreatVibes-Regular.ttf');
}

.title{
  font-family: 'GreatVibes';
}
.body {
  font-family: 'Times New Roman', Times, serif;
}
.txtcolor{
  color: #CDB77C;
}
.btncolor {
  background:#7F9B84;
  /* background: #CDB77C; */
}
@keyframes hero {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.heroscroll {
  view-timeline-name: --div2;
  view-timeline-axis: block;
  animation-timeline: --div2;
  animation-name: hero;
  animation-range: 10% cover 30%;
  animation-fill-mode: backwards;
}
